{% extends "bases/bootstrap-navbar.html" %}
{% load bootstrap4 i18n staticfiles %}

{% block title %}Доска задач команды{% endblock %}

{% block content %}
<h1>Доска задач команды</h1>

<div  id="myKanban"></div>

<div id='task_detail' hidden='true' class=''>
    <hr>
    <h2 class='text-center' id="taskTitle">Node.tiitle</h2>
    <a id="taskDetailButton" target="_blank" href='' class="btn btn-secondary float-right">Посмотреть Задачу</a>
    <div id="text_description">

    </div>
</div>

{% endblock %}



{% block app_js %}
<script src="{% static 'js/jkanban.min.js' %}"></script>
{% include 'utils/csrf-token.html' %}
<script>
    var correct_task = null;
    var kanban = new jKanban({
        element:'#myKanban',

        dropEl: function (el, target, source, sibling) {
            el_pk = el.getAttribute('data-pk');
            source_pk = source.parentElement.getAttribute('data-id').substring(2);
            target_pk = target.parentElement.getAttribute('data-id').substring(2);
            
           

            if(source_pk == target_pk){
                return;
            }
            $.post(
                "#",
                {
                    'event':'change_status',
                    'task_pk':el_pk,
                    'source_pk':source_pk,
                    'target_pk':target_pk,
                },
                function(data){
                    //console.log(data);
                }
            );
        },
        click: function (el) {
            $.post(
                    "#",
                    {
                        'event':'get_task_info',
                        'task_pk':el.getAttribute('data-pk'),
                    },
                    onAjaxSuccessGetBlock
                );
            function renderBlockNode(task){
                document.getElementById('task_detail').hidden = false;
                document.getElementById('text_description').innerHTML = task.description;
                document.getElementById('taskTitle').innerHTML = task.title;
                document.getElementById('taskDetailButton').href = task.url;
            }
            function onAjaxSuccessGetBlock(data) {
                task = data;
                console.log(data)
                //task.title = el.innerHTML;
                //task.pk = el.getAttribute('data-pk');
                renderBlockNode(task);

                correct_task = task;
            }

        },

        boards  :[
                {% for board_slug, board_name, tasks in boards_list %}
                    {
                        'id' : 'b-{{board_slug}}',
                        'title'  : '{{board_name}}',
                        "item"  : [
                            {% for task in tasks %}
                            {
                                "id"      : "n-{{task.pk}}",
                                "title"   : "{{task}}",
                                "pk"      : "{{task.pk}}",
                            },
                            {% endfor %}
                            
                        ]
                    },
                {% endfor %}
            ]
    })

</script>
{% endblock app_js %}


{% block head_css %}
<link href="{% static 'css/jkanban.min.css' %}" rel="stylesheet" type="text/css">
{% endblock head_css %}