{% extends "bases/bootstrap-navbar.html" %}
{% load bootstrap4 i18n staticfiles %}

{% block title %}Задача: {{task}}{% endblock %}

{% block content %}

    <h1>{{task}}
        {% if user == task.author %}<a href="{% url 'task_edit' pk=task.pk %}"><i class="fa fa-cogs" aria-hidden="true"></i></a>(Статус:{{task.status}}){% endif %}
        
        {% if available %}
            Можно откликнутся 
        {% endif %}
            
    </h1>
    <hr>
    <h3>Описание:</h3>
    {{task.description|safe}}
    <hr>
    <h3>Крайний срок: {{task.deadline}}</h3>
    <hr>
    <p>
        {% for tag in task.tags.all %}
            {{tag}},
        {% empty %}
            
        {% endfor %}
    </p>
{% endblock %}



{% block app_js %}
<script src="{% static 'js/jquery.flexdatalist.min.js' %}"></script>
{% include 'utils/csrf-token.html' %}
<script>
   function sendFunction(){
       tags_data = $('.flexdatalist').flexdatalist('value'); // $('.flexdatalist').val(); 
       $.post(
           "",
           {
               "tags":tags_data
           },
           function(){
               // Что-то
           }
       )
   }
</script>
{% endblock app_js %}


{% block app_css2 %}
<link href="{% static 'css/jquery.flexdatalist.min.css' %}" rel="stylesheet" type="text/css">
{% endblock app_css2 %}