{% extends "bases/bootstrap-navbar.html" %}
{% load bootstrap4 i18n staticfiles %}

{% block title %}Задача: {{task}}{% endblock %}

{% block content %}
    <h1>Список доступных задач</h1>
    {% for task in task_list %}
        
    <div class="card">
        <h5 class="card-header">{{task}}}}</h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="{{task.get_absolute_url}}" class="btn btn-primary">Посмотреть подробнее</a>
        </div>
    </div>
    {% empty %}
        <h4>Увы нет доступных задач</h4>
    {% endfor %}
{% endblock %}
