{% extends "bases/bootstrap-navbar.html" %}
{% load bootstrap4 i18n staticfiles %}

{% block title %}Редактировать задачу{% endblock %}

{% block content %}
<h1>Редактировать задачу</h1>

<form action="" method="post" id='addTask'>
        {% csrf_token %}
        <table>
        {% bootstrap_form form %}
        
        <input type='text'
            placeholder='Теги заказа'
            class='flexdatalist'
            data-min-length='1'
            multiple='multiple'
            list='tags_list'
            value='{{tags}}'
            id='mytags'
            name='tags'>
        
        <datalist id="tags_list">
            {% for tag_name in tag_list %}
                <option value="{{tag_name}}">{{tag_name}}</option>
            {% endfor %}
        </datalist>
        <br>
        </table>
{% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#delModal">Удалить Задание</button>
</form>

<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="delModalLabel">Вы точно хотите удалить это задание? </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                Это необратимо!
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <button type="button" id="delete_button" class="btn btn-danger">Да, уверен</button>
                        </div>
                </div>
        </div>
</div>

{% endblock %}



{% block app_js %}
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script src="{% static 'js/jquery.flexdatalist.min.js' %}"></script>
{% include 'utils/csrf-token.html' %}
<script>
    if ($('#id_deadline').attr("value") != "01.01.2000"){
        var mydate = $('#id_deadline').attr("value").split('.');
        $('#id_deadline').val(mydate[2]+"-"+mydate[1]+"-"+mydate["0"])
    }
    $('.flexdatalist').flexdatalist({
        minLength: 1
    });
    CKEDITOR.replace( 'id_description' );
    $('#addTask').submit(function() {
        var deadline = $("#id_deadline");

        if(deadline == null || deadline.val() == '' || deadline.val() == null){
            deadline.val("2000-01-01");
        }

        var txt = $('#id_description');
        txt.val(CKEDITOR.instances.id_description.getData());
    });

    document.getElementById('delete_button').onclick = function() {
        $.post(
            "#",
            {
                'event':'del_task',
            },
                function(data){document.location.href = "{% url 'user_home' %}";}
        );

    }
</script>
{% endblock app_js %}


{% block app_css2 %}
<link href="{% static 'css/jquery.flexdatalist.min.css' %}" rel="stylesheet" type="text/css">
{% endblock app_css2 %}