/* Sticky footer styles
-------------------------------------------------- */
/* standarts */

body{
    font-family: 'Open Sans', sans-serif;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-weight: 700;
    margin-bottom: 30px;
  }

.indexBody{
    background-color: white;
}

/* navbar*/

.indexNavbar{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 40px;
    margin-bottom: 50px;
    border-bottom: 4px solid white;
    border-radius: 0px 0px 20px 20px;
}
.indexBrand{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}
.indexNav__element{
    margin-left: 30px;
}

/* MAIN CONTENT*/

.about{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.about__title{
    font-size:40px;
    width: 500px;
    font-family: 'Russo One', sans-serif;

}
.about__text{
    font-size: 18px;
    color: grey;
    width: 500px;
    font-family: 'Rubik', sans-serif;
}
.about__button{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #4285f4;
    border: 1px #4285f4 solid;
}
.mainImg{
    width: 540px;
    height: 463px;
    margin-left: 60px;
}

.mainStart{
    width: 60%;
    height: 150px;
    font-size: 30px;
    color: #fff;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    outline: none;
    border: 4px #fff solid;
    border-radius: 10px;
    font-weight: 700;

}

/* Advantages */

.ourAdvantages{
    background-color: #F8F9FA;
}

.advantages{
    text-align: center;


}
.advantages__title{
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 40px;
    margin-top: 30px;

}
.infoGroups{
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    height: 320px;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.infoGroups__title{
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-top: 0;
}

.infoGroups__text{
    font-size: 18px;
    color: grey;
    font-family: 'Rubik', sans-serif;
}

.icon{
    font-size: 50px;
}

/* footer */
.footListElement{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
}
.footList{
    text-align: center;
}

.footListElement > a {
    color:grey;
    text-decoration: none;
}

.partners__list{

}
.partners__list__element{
    text-decoration: none;
    list-style-type: none;
}

.partners__list__element__title{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}

.partners__list__element__text{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: grey;
    width: 300px;
}
.partner__img{
    width: 420px;
    height: 474px;
}

.glavButtonContainer{
    text-align: center;

}

.glavButton{
    width: 50%;
    height: 100px;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #4285f4;
    border: 1px #4285f4 solid;
    border-radius: 10px;

}

.button__link{
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
button:hover{
    cursor: pointer;
}

button:hover > .button__link{
    color: #fff;
    text-decoration: none;
}

/* Раздел о нас*/

.AboutUsHeader{
    font-family: 'Rubik', sans-serif;
    font-size: 50px; 
}

.AboutUsText{
    margin-top:20px;
    font-family: 'Rubik', sans-serif;
}

.AboutUsList{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 40px;
}

/* Contacts */

.contact__title{
    font-family: 'Rubik', sans-serif;
}
.contact__titleMini{
    font-family: 'Rubik', sans-serif;
}
.contact__list{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
