{% extends "bases/bootstrap-navbar.html" %}
{% load bootstrap4 i18n %}
{% load staticfiles i18n %}



{% block title %}{% trans "Профиль" %}{% endblock %}

{% block content %}
  {% bootstrap_messages %}

<div class="container">

        <div class="col">

            <ul class="nav nav-tabs">
            <li class="nav-item">
               <a class="nav-link active {% block user_home %}{% endblock %}" href="{% url 'user_home' %}">{% trans 'Профиль' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block account_nav_profile_edit %}{% endblock %}" href="{% url 'account_edit_profile' %}">Редактировать профиль</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link {% block account_nav_change_password %}{% endblock %}" href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
            </li>
            {% url 'socialaccount_connections' as connections_url %}
            {% if connections_url %}
            <li class="nav-item">
              <a class="nav-link {% block account_nav_socialaccount_connections %}{% endblock %}" href="{{ connections_url}}">Социальные сети</a>
            </li>
            {% else %}
            <li>{% trans "No connections url" %}</li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link {% block account_nav_create_query %}{% endblock %}" href="{% url 'add_task' %}">Создать запрос</a>
            </li>

            </ul>

            <div class="row">


          <div class="col">

             {% if user.profile.avatar_url %}<img alt="" src="{{user.profile.avatar_url}}" style="float:left;width: 180px; height: 180px;margin-top:30px;" class="userLogo"> {% else %}
             <img alt="" src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" style="float:left;width: 180px; height: 180px;margin-top:30px;margin-right:20px;" class="userLogo"> {% endif %}
          
          </div>

            <div class="col">

              <div class="list-group" style="margin-top:20px;">
              <h3>{{user.display_name}}</h3>
              <br>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
              <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">ФИО:</h5>
              </div>
              <p class="mb-1"> {{user.last_name}} {{user.first_name}}</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Почта:</h5>
              </div>
              <p class="mb-1">{{user.email}}</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Отзвы:</h5>
                </div>
                <p class="mb-1">+0 / -0</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Статус:</h5>
              </div>
              <p class="mb-1">{% if user.is_entity %}Юр. Лицо{% else %}Физ. лицо{% endif %}</p>
              </a>
            </div>
          </div>
          <!---->
                    <div class="col">

              <div class="list-group" style="margin-top:20px;">
              <h3>Последние заказы</h3>
              <br>

              {% for task in user.task_author.all %}
                  <a href="{{ task.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                  <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Название : {{  task  }}</h5>
                  </div>
                  <p class="mb-1">Срок : {{  task.deadline  }}</p>
                  </a>
                  {% empty %} <h5 class="mb-1">Нету доступных заданий</h5>{% endfor %}
            </div>
          </div>

<!---->
          </div>

          <div class="row">
                        <div class="col">

              <div class="list-group" style="margin-top:20px;">
              <h3>Команды</h3>
              <br>

              {% for squad in user.user_squads.all %}
                  <a href="{{ squad.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                  <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Название : {{  squad.description  }}</h5>
                  </div>
                  </a>
                  {% empty %}
                        <h5>вы не состоите в команде</h5>
                        {% endfor %}
            </div>
          </div>
          </div>
          
          
      </div>
<hr>

                
            </div>           
        </div>      
    </div>   
</div>


  <!--

    <div class="row m-y-2">
        <div class="col-lg-4 pull-lg-8 text-xs-center">
            <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
            </label>
        </div>

  <div class="d-flex justify-content-around">


  <div class="card" style="width: 18rem;">
 
    {% if user.profile.avatar_url %}<img alt="" src="{{user.profile.avatar_url}}" style="" class="card-img-top">
                {% else %}No picture available yet.{% endif %}
  <div class="card-body">
    <h5 class="card-title">{{user.display_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{% if user.is_entity %}Статус: {{user.is_entity}}
              {% else %} Статус: Физ. лицо{% endif %}</li>
    <li class="list-group-item">Имя: {{user.first_name}}</li>
    <li class="list-group-item">Фамилия: {{user.last_name}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'account_edit_profile' %}" class="card-link">Редактировать</a>
  </div>
</div>

  
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>{% trans "Profile" %}</h3>
      <ul class="list-unstyled">
        <li>First name: <strong>{{user.first_name}}</strong></li>
        <li>Last name: <strong>{{user.last_name}}</strong></li>
        <li>Display name: <strong>{{user.display_name}}</strong></li>
        <li>Email: <strong>{{user.email}}</strong></li>
        <li>{% if request.user.profile.account_verified %}Verified{% else %}Unverified{% endif %}</li>
      </ul>
      <a href="{% url 'account_edit_profile' %}">Edit</a>
    </div>
  </div>-->
{% endblock %}


