{% extends "bases/bootstrap-navbar.html" %}
{% load staticfiles %}

{% block app_css2 %}<link rel="stylesheet" media="screen" href='{% static "css/index_main.css" %}'>{% endblock app_css2 %}

{% block main_content %}

<div class="container">
  <h1 class="contact__title">Контакты</h1>
  <h3 class="contact__titleMini">Над проектом работали:</h3>
  <ul class="contact__list">
    <li>Павел Усатенко - prostobux@yandex.ru - frontend</li>
    <li>Марк Тамаров - marktamarov2001@gmail.com - backend</li>
    <li>Павел Мещерин - dodo152010@yandex.ru - backend</li>
  </ul>
</div>

{% endblock %}


