{% extends "bases/bootstrap-navbar.html" %}
{% load staticfiles %}

{% block app_css2 %}
<link rel="stylesheet" media="screen" href='{% static "css/index_main.css" %}'>
{% endblock app_css2 %}

{% block main_content %}

<div class="container">
<h1 class="AboutUsHeader">О нас</h1>
  <p class="AboutUsText">
      Наш сервис обеспечивает взаимодействие между клиентами и исполнителями. Первые получают проверенные гарантии на качественное и своевременное выполнение запрошенной услуги – такая надёжность достигается за счёт продуманной системы рейтинга поставщиков услуг. Вторые же будут обеспечены заказами, причём по своему «уровню», исключая вероятность некачественного выполнения непосильной задачи.  
  </p>
  <p class="AboutUsText">
      Стоит так же заметить, что заказами будут обеспечены как целые компании, так и отдельные исполнители, за счёт классификации запрашиваемых задач. Например, сложные и многоэтапные задачи можно поделить на части, самые важные из которых доверить проверенным профессионалам, а более простые – одиночным исполнителям, тем самым понизив затраты.
  </p>
  <p class="AboutUsText">
      Более того, наша система рейтинга и оценки помимо того, что позволит поощрять и продвигать новых талантливых исполнителей и профессиональные компании, ещё и выявляет и ограничивает тех исполнителей, кто плохо справлялся с задачей, и тех заказчиков, с кем работа вызывала заметные сложности. Ведь подобные конфликты являются наиболее актуальными пожалуй во всех сферах с отношением «клиент-исполнитель».
  </p>

    <h3>Подробный план системы:</h3>
    <ul class="AboutUsList">
      <li>У пользователя есть запрос, который надо решить</li>
      <li>Он ищет понравившуюся ему компанию из списка на нашем сервисе. Он может выбирать компанию, основываясь на ее рейтинге.</li>
      <li>Выбирая компанию, заказчик может ознакомиться с её статистической информацией, посмотреть список услуг и, если всё устраивает, отправить ей запрос с описанием своей задачи.</li>
      <li>Компания получает запрос, и если считает задачу выполнимой, отвечает пользователю с уточнениями по заказу и цене.</li>

      <li>Компания может иметь определенное количество команд с разным рейтингом (зависит от отзывов о работе этой группы), и она отдает заказ одной из групп в зависимости от его сложности.</li>
      <li>Назначенная на выполнение группа выполняет заказ в указанный срок</li>
      <li>Компания получает выплату за выполненный заказ, либо обсуждает с заказчиком возможную его доработку.</li>
      <li>Пользователь может оценить работу компании и конкретной команды в этой компании, что повлияет на рейтинг обоих. Компания в свою очередь может также оценить взаимодействие с конкретным заказчиком.</li>
    </ul>
    <p class="AboutUsText">
        Наш сервис будет предоставлять возможность клиентам запрашивать услуги у компаний, которые, в свою очередь, будут распределять эти услуги между своими работниками или группами.
    </p>

    <h3>Схема работы:</h3>

    <img src="{% static 'img/arch1.png' %}" alt="" style="">
    
    <h3>Аккаунты для экспериментов:</h3>

    <h5>Модератор:</h5>
    <ul class="AboutUsList"></ul>
      <li>login: admin@admin.com</li>
      <li>pass: adminadmin</li>
    </ul>
    <h5>Заказчик:</h5>
    <ul class="AboutUsList"></ul>
        <li>login: customer@customer.com</li>
        <li>pass: customer</li>
    </ul>
    <h5>Член команды:</h5>
    <ul class="AboutUsList"></ul>
        <li>login: teammate@teammate.com</li>
        <li>pass: teammate</li>
    </ul>
</div>

<section class="start">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="glavButtonContainer">
          <a href="{% url 'add_task' %}" class="button__link"><button class="glavButton">Начать сейчас!</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


