{% extends "bases/bootstrap-navbar.html" %}
{% load staticfiles %}

{% block app_css2 %}
<link rel="stylesheet" media="screen" href='{% static "css/index_main.css" %}'>
{% endblock app_css2 %}

{% block main_content %}

<div class="container">
<h1 class="AboutUsHeader">О нас</h1>
<p class="AboutUsText">
    Наш сервис будет предоставлять возможность клиентам запрашивать услуги у компаний, которые, в свою очередь, будут распределять эти услуги между своими работниками или группами.
  </p>
  <p class="AboutUsText">
    С одной стороны наш сервис будет помогать клиентам большой выбор большой выбор услуг в нужной сфере, с разной ценой и рейтингом.
  </p>
  <p class="AboutUsText">
    С другой стороны, компании смогут получать стабильный приток клиентов, пиар с помощью рейтинга и комфортное взаимодействие с пользователем.
    </p>

    <h3>Подробный план системы:</h3>
    <ul class="AboutUsList">
      <li>У пользователя есть запрос, который надо решить</li>
      <li>Он ищет понравившуюся ему компанию из списка на нашем сервисе. Он может выбирать компанию, основываясь на ее рейтинге.</li>
      <li>Выбрав компанию, он может почитать о ней, посмотреть список ее услуг и отправить ей запрос с описанием своей задачи</li>
      <li>Компания получает запрос и отвечает пользователю с уточнением по заказу и цене.</li>
      <li>Компания имеет определенное количество команд с разным рейтингом (зависит от отзывов о работе этой группы), и она отдает заказ одной из групп в зависимости от его сложности и рейтинга группы.         </li>
      <li>Группа выполняет заказ в указанный срок.</li>
      <li>Компания получает выплату за этот заказ.</li>
      <li>Пользователь может оценить работу компании и конкретной команды в этой компании, что повлияет на их рейтинг. </li>
    </ul>

    <h3>Схема работы:</h3>

    <img src="{% static 'img/arch1.png' %}" alt="" style="">
    

</div>

<section class="start">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="glavButtonContainer">
          <a href="{% url 'add_task' %}" class="button__link"><button class="glavButton">Начать сейчас!</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


